form{
    font-size:medium;
    text-align: center;
    align-items: center;
    padding-top: 50px;
    width: 500px;
    height: 300px;
    margin-left: 500px;
    background-color: darkgray;
    border-radius: 5%;
    line-height: 26px;
}
.form{
    width: 300px;
    font-size: 0.9rem;
    color: #555;
    font-style: italic;
    height: 26px;
    border-style: solid;
    border:color black, 2px;
}
.enviar{
    width: 100px;
    font-style: bold;
    color: black;
    height: 25px;
    border-style:solid;
    background-color: blue;
    border-color: blue;
    border-radius: 9%;
}
label{
    padding-right: 15px;
}
h4{
    text-align: center;
}